.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  background-color: black;
  height: 15vh;
}

.navBar{
  background-color: black;
}

.loader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.75);
  position: absolute;
  z-index: 10;
  
}

.moreButton{
  width: 150px;
  margin: auto;

}

.pantryList{

  background-color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
.closeButton {
    position: absolute;
    
    left: 80%;
    font-size: 11px;
    font-family: helvetica;
    color: tray;
    display: none;

}
.favItem{
  position: relative
}
.favItem:hover .closeButton {
  display: block;
}
.imageContainer{
  max-height: 50%;
  overflow: hidden;
}
.card{
  cursor: pointer;
}
.cardImage{
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all .75s ease-in-out;
}
.card:hover .cardImage {

 transform: scale(1.2)

}
.ingredient{
  cursor: pointer;
}
.closeX{
  transition: all .1s ease-in-out;
  opacity: 0;
}
.ingredient:hover .closeX{
  opacity: 1;

}

.inputFeedback{
  font-size: small;
  color:red;
}

.red{
  color:red
}